 <div class="user-details">
  <h1>Certifications</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>CRTP</h2>
      <img src="{{ '/assets/img/CRTP.png' | relative_url }}" alt="CRTP" style="width:213px; height:213x;"> 
      <p>Certified Red Team Professional</p>
    </div>
    <div class="tech">
      <h2>eCPPT</h2>
      <img src="{{ '/assets/img/ecppt.svg' | relative_url }}" alt="eCPPT" style="width:150px; height:150x;"> 
      <p>Certified Professional Penetration Tester</p>
    </div>
    <div class="tech">
      <h2>eWPT</h2>
      <img src="{{ '/assets/img/ewpt.svg' | relative_url }}" alt="CRTP" style="width:150px; height:150x;"> 
      <p>Web Application Penetration Tester</p>
    </div>
</div>



