<footer class="footer">
    
    <p>
        <img src="{{ '/assets/img/pacman.svg' | relative_url }}" alt="pacman" style="width: 25px; height:25px; position: relative; top: 10px;">
        <img src="{{ '/assets/img/htb.svg' | relative_url }}" alt="pacman" style="width: 5px; height:5px;">
        <img src="{{ '/assets/img/htb.svg' | relative_url }}" alt="pacman" style="width: 5px; height:5px;">
        <img src="{{ '/assets/img/htb.svg' | relative_url }}" alt="pacman" style="width: 5px; height:5px;">
        <img src="{{ '/assets/img/fantasmita.svg' | relative_url }}" alt="pacman" style="width: 25px; height:25px;position: relative; top: 10px;">
    </p>

    <p><a></a></p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
