<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <!-- <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a> -->
        <!-- <a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a> -->
        <a aria-label="Linkedin" target="_blank" href={{site.linkedin_username}}> <img src="{{ '/assets/img/linkedin.svg' | relative_url }}" alt="LinkedIn" style="width:75px; height:75px;"> </a>
        <a aria-label="Github" target="_blank" href="{{site.github_username}}"> <img src="{{ '/assets/img/github.svg' | relative_url }}" alt="LinkedIn" style="width:75px; height:75px;"> </a>
        <a aria-label="HTB" target="_blank" href="{{site.htb_username}}"> <img src="{{ '/assets/img/htb.svg' | relative_url }}" alt="LinkedIn" style="width:60px; height:60px; position: relative; top: 8px;"> </a>
        <a aria-label="THM" target="_blank" href="{{site.thm_username}}"> <img src="{{ '/assets/img/thm.svg' | relative_url }}" alt="LinkedIn" style="width:60px; height:60px; position: relative; top: 8px; position: relative; left: 6px;"> </a>
        <a aria-label="Yogosha" target="_blank" href="{{site.yogosha_username}}"> <img src="{{ '/assets/img/yogosha.png' | relative_url }}" alt="LinkedIn" style="width:75px; height:75px;position: relative; left: 6px;"> </a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
        <!--<a class="link" href="#projects" data-scroll>Projects</a> -->
      </div>
  </div>
  <!-- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>
